
<div class="row mt-3">
  
    <div class="col col-md-6 text-center">
       <h5>Project</h5>
       <h6>GitHub Finder App</h6>
       <img src="../../../assets/social.jpg" width="350" height="auto" class="img-fluid rounded-circle profile-pic border-2 border-white" alt="">
        
       <p>This app is develop to make easy to search GitHub user and thier repository</p>
       <p>This app has home page , Login Page, SignUp Page and About page</p>
       <p>This app has using git hub Api for taking all information</p>
       </div>

       
    
    <div class="col col-md-6 text-center">
        <h5>Author</h5>
        <img src="../../../assets/author.jpeg" width="150" height="auto" class="img-fluid rounded-circle profile-pic border-2 border-white" alt="">
        <p>Ashish Jangid</p>
        <p>Hello coders. i am an Engineer from applied electronics and computer science from IIT, Sitapura
            I have programming skills in C++ , Javascript </p>
        <p>I have Developed and designed this website for my personal development project</p>

    </div>
    <h6 class="text-center " style="margin-top: 70px">Connect me at</h6>
<div class="" style="margin-top: 10px"></div>
    <div class="col col-lg-3 text-center">
       
        <img src="../../../assets/git.png" width="40" height="auto" class="img-fluid rounded-circle profile-pic border-2 border-white" alt="">
        <p>@Coutashish</p>
    </div><div class="col col-lg-3 text-center">
       
        <img src="../../../assets/linkedin.jpg" width="40" height="auto" class="img-fluid rounded-circle profile-pic border-2 border-white" alt="">
        <p>@Ashish Jangid</p>
    </div>
    <div class="col col-lg-3 text-center">
       
        <img src="../../../assets/Gmail.png" width="40" height="auto" class="img-fluidprofile-pic border-2 border-white" alt="">
        <p style="margin-top: 10px">ashishjan14may@gmail.com</p>
    </div>
    <div class="col col-lg-3 text-center">
       
        <img src="../../../assets/insta.jpg" width="40" height="auto" class="img-fluid rounded-circle profile-pic border-2 border-white" alt="">
        <p>@ashish_roh</p>
    </div>
</div>

